.cardcontent {
    height: 100%;
    width: 100%;
    position: relative;

    .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
    }

    .launchNameTitle {
        text-align: center;
    }
    .patchcontainer {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .patch {
            object-fit: contain;
        }
        .nopatch {
            text-align: center;
        }
    }
}

