.aboutcontainer {
    height: 80vh;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    .summary {
        text-align: center;
        font-size: 1.5rem;
    }

    .people {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;

        .personcard {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            width: 20%;
            text-align: center;

            .title {
                display: flex;
                flex-flow: column nowrap;
                font-size: 1rem;
            }
        }
    }

    .otherinfo {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .otherinfoblock {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 60%;
            
            .info {
                display: flex;
                flex-flow: column nowrap;
            }

            .links {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                .box {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 75%;

                    .link {
                        width: 33%;
                        height: 2.1rem;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        span {
                            position: absolute;
                            opacity: 0;
                            color: #fff;
                            font-size: 0.7rem;
                            padding: 0 5px;
                            // transition: all 1s ease;
                        }
                        &.twitter {
                            background-color: #55acee;
                            border: 1px solid #fff;
                            border-top-left-radius: 15px;
                        }
                        &.elontwitter {
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                        }
                        &.website {
                            background-color: #005288;
                            border: 1px solid #fff;
                            border-bottom-right-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}